body {
    marign:0 0 0 0 ;
}

.sidenav {
    height: 100%;
    width: 25%; 
    position: fixed;
    z-index: 99899999; 
    top: 0; 
    left: 0;
    background-color: #660000; 
    overflow-x: hidden; 
    padding-top: 0px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    text-align: center;
    line-height: 2em;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #800000;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}


.carousel.slide.pic{
    margin: 0 0 0 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1.25em;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 999;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
    color: white;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

.main {
    float: right;
    width: 76%;
}

.header {
    text-align: center;
}

.container{
    margin-left: 10px ;
    height: 100%;
    overflow: scroll;
}

.about {
    margin-top: 10em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    height: 4%;
    margin-top:2px;
    padding-top: 4px;
    float: right;
    z-index: 999;
}

.footer-text{
    margin-left: 15em;
}



.box {
    padding: 3em;
}

.btn.btn-success{
    margin-top: 3%;
}

.alert.alert-success{
    margin: 0;
    margin-left: 25%;
}

@media print { 
 #sidenav, #footer, #back, #print, #header{ 
     display: none !important; 
 } 
 
 .main {
     width: 100% !important;
 }
}